@keyframes welcome-header-step-initial {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes welcome-back-text-step-initial {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes welcome-text-step-initial {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes welcome-footer-step-initial {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes next-float {
  from {
    transform: translateY(-2px);
  }
  to {
    transform: translateY(2px);
  }
}

@keyframes order-pop {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

@keyframes ring-pulse {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}
